<table>
    <tr>
        @for(header of tableData.headerName; track $index) {
        <th [id]="header.id">{{header.diplplayName}}</th>
        }
    </tr>
    @for (item of tableData.data; track $index) {
    <tr>
        <td>
            @if(!stateService.displayIndex[$index]){
            <span (click)="activeInputField(item.name, 'name', $index)">
                {{item.name}}
            </span>
            }
            @if(stateService.displayIndex[$index]){
            <app-field-editor [headers]="tableData.headerName" [fieldValue]="item.name" fieldName="name"></app-field-editor>
            }
        </td>
        <td>{{item.age}}</td>
        <td>
            @if(!stateService.displayIndex[$index]){
                <span (click)="activeInputField(item.name, 'gender', $index)">
                    {{item.gender}}
                </span>
                }
                @if(stateService.displayIndex[$index]){
                <app-field-editor [headers]="tableData.headerName" [fieldValue]="item.gender" fieldName="gender"></app-field-editor>
                }    
        </td>
        <td>{{item.email}}</td>
    </tr>
    }
</table>